GLOBUS_GSI_AUTHZ_SYSTEM_INIT glite-jp-callouts authz_jp_system_init_callout
GLOBUS_GSI_AUTHZ_SYSTEM_DESTROY glite-jp-callouts authz_jp_system_destroy_callout
GLOBUS_GSI_AUTHZ_HANDLE_INIT glite-jp-callouts authz_jp_handle_init_callout
GLOBUS_GSI_AUTHZ_HANDLE_DESTROY glite-jp-callouts authz_jp_handle_destroy_callout
GLOBUS_GSI_AUTHORIZE_ASYNC glite-jp-callouts authz_jp_authorize_async_callout
globus_mapping glite-jp-callouts authz_jp_globus_mapping
