#
# site-info.def example, part for org.glite.jp.index
#
# options configured by YAIM can be overriden by:
#   - /etc/glite.conf
#   - $GLITE_LOCATION/etc/glite-wms.conf
#   - $HOME/.glite.conf  # of root user
#


#
# required minimum set of YAIM options given from
# /opt/glite/yaim/examples/siteinfo/site-info.def
#
YAIM_LOGGING_LEVEL=INFO
MY_DOMAIN=civ.zcu.cz
INSTALL_ROOT=/opt
CRON_DIR=/etc/cron.d
GLOBUS_TCP_PORT_RANGE="20000,25000"
MYSQL_PASSWORD=set_this_to_a_good_password


#
# default values of basic options
#

#GLITE_LOCATION=${INSTALL_ROOT:-opt}/glite
#GLITE_LOCATION_VAR=${GLITE_LOCATION_VAR:-/var/glite}
#GLITE_USER=${GLITE_USER:-glite}
#GLITE_HOST_CERT=${GLITE_USER_HOME:-/home/glite}/.certs/hostcert.pem
#GLITE_HOST_KEY=${GLITE_USER_HOME:-/home/glite}/.certs/hostkey.pem
#X509_CERT_DIR=/etc/grid-security/certificates


#
# required external options
#

#GLOBUS_LOCATION=/opt/globus


#
# JPIS configuration default values
#

# pidfile
#GLITE_JPIS_PIDFILE=$GLITE_LOCATION_VAR/glite-jp-indexd.pid

# logfile
#GLITE_JPIS_LOGFILE=$GLITE_LOCATION_VAR/glite-jp-indexd.log

# configuration file
# 
# Before launching YAIM you should configure there:
#  - feeds (data streams) - contains primary storage and filter
#  - attribute set
#  - indices set
#
#GLITE_JPIS_CONFIG=$GLITE_LOCATION/etc/glite-jpis-config.xml

# port
#GLITE_JPIS_PORT=8902

# connection string to database (USER/PASSWORD@HOST:DBNAME)
# If the default is changed, the database has to be created manually !
#GLITE_JPIS_DB=jpis/@localhost:jpis

# used types of feeds
#GLITE_JPIS_QT="both"

# Index server returns only jobs owned by given user.
# Use '-n' value to force indexd not to check authentization.
#GLITE_JPIS_AUTH="" 

# Can have '-d' value to force indexd not to deamonize.
# Never use it here.
#GLITE_JPIS_DEBUG="" 
